
<nav
id="navBar"
class="navbar sticky-top bg-dark navbar-expand-lg navbar-light d-flex justify-content-between"
>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">

<div
  class="justify-content-center collapse navbar-collapse"
  id="navbarTogglerDemo02"
>
  <ul class="navbar-nav gap-2 mb-2 mb-lg-0 ms-2">
    <li class="nav-item">
      <a class="nav-link active text-light" aria-current="page" href="/"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="/allBooks">Novel Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="/about">About Us</a>
    </li>
  </ul>
  <form method="POST" action="/search" class="d-flex d- mx-auto">
    <input
      class="form-control me-2"
      name="searchTerm"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
  </form>
</div>
<div class="me-5">
  <ul class="d-flex list-unstyled">
    <!-- if there is a user, show user.name and logout -->
    <% if (user) { %>

    <!-- Default dropstart button -->
<!-- Default dropstart button -->
<div class="btn-group dropstart">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa-solid fa-user"></i>
  </button>
  <ul class="dropdown-menu">
     <!-- Dropdown menu links -->
     <p class="fw-bold text-center">Welcome, <%= user.name %></p>
     <hr />
     <li>
       <a class="dropdown-item" href="/user/<%= user._id %>">Profile</a>
     </li>
     <li><a class="dropdown-item" href="/logout">Logout</a></li>
  </ul>
</div>


    <% } else { %>
    <!-- if there is no user, show log in and signup -->
    <li class="me-4 mt-3"><a class="text-light fs-5" href="/login">Login</a></li>
    <li class="mt-3">
      <a class="text-light me-5 fs-5" href="/signup">Signup</a>
    </li>
    <% } %>
  </ul>
</div>
</nav>

