<!DOCTYPE html>
    <%- include('partials/head.ejs') %> 
  <body>
    <%- include('partials/adminNav.ejs') %> 
    <div class="mt-5 text-center">
   <p class="fs-1 fw-bold">Welcome, Admin <%= user.name %></p>
  </div>
  <%- include('partials/footer.ejs') %> 
  </body>
</html>
