<!DOCTYPE html>
    <%- include('partials/head.ejs') %> 
  <body>
    <%- include('partials/navbar.ejs') %> 
    <div class="mt-5 text-center">
    <p class="fs-1 fw-bolder">WELCOME TO BOOK PAGE</p>
    <p class="fw-bold fs-5">We are currently under construction, Thank you for you patience.</p>
    <div><img src="/img/under_construction.gif" alt=""></div>
  </div>
  <%- include('partials/footer.ejs') %> 
  </body>
</html>
