<!DOCTYPE html>
    <%- include('partials/head.ejs') %> 
  <body>
    <%- include('partials/navbar.ejs') %> 
    <div class="mt-5 text-center">
    <p class="fs-1 fw-bold my-1 text-danger">404</p>
    <p class="fs-4 fw-bold my-1 text-danger">Not found</p>
    <p>The resource requested could not be found on the server</p>
  </div>
  <%- include('partials/footer.ejs') %> 
  </body>
</html>
