<!DOCTYPE html>
    <%- include('partials/head.ejs') %> 
  <body>
    <%- include('partials/navbar.ejs') %> 
    <h1 class="text-center my-5">LOG IN</h1>
    <form class="w-50 mx-auto">
      <div class="formError text-danger fs-5"></div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Log in</button>
    </form>


    <%- include('partials/footer.ejs') %> 

    
<script>
  const form = document.querySelector('form');
  const isFormError = document.querySelector('.formError');
  form.addEventListener('submit', async (e) => {
  e.preventDefault();
// reset errors
isFormError.textContent = '';

// get the values
const email = form.email.value
const password = form.password.value


try {
  const res = await fetch('/login', {
    method: 'POST',
    body: JSON.stringify({email, password}),
    headers: {'Content-Type': 'application/json'}
  });
  const data = await res.json();
  console.log(data);
  if(data){
    isFormError.textContent = data
  } 

  if(data.user){
    isFormError.textContent = '';
    location.assign('/admin')
  }
  
}
catch(err){
  console.log(err);
}
        })
      </script>

  </body>
</html>
