<!DOCTYPE html>
    <%- include('partials/head.ejs') %> 
  <body>
    
    <%- include('partials/navbar.ejs') %> 
    <h1 class="text-center text-dark my-5 w-50 px-auto mx-auto fw-bold align-center border-1 rounded">LOG IN</h1>
    
    <form class="w-50 mx-auto">
      <div class="formError text-danger fs-5"></div>
      <div class="mb-3">
        <label for="email" class=" text-dark form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
      </div>
      <div class="mb-3">
        <label for="password" class="text-dark form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <div class="d-md-flex">
      <button type="submit" class="btn btn-success">Log in</button>
      <p class="ms-auto">Don't have an account? <a href="/signup">Sign up</a></p>
    </div>
    </form>


    <!-- <footer class="bg-white text-center p-1 fixed-bottom">
  <p class="fs-2 fw-bold text-uppercase pt-3">MINIPROJECT 2</p>
</footer> -->

<!-- Remove the container if you want to extend the Footer to full width. -->

<footer
class="text-center text-white fixed-bottom"
style="background: #869161"
>
<!-- Grid container -->
<div class="container p-1 pb-0">
  <!-- Section: Social media -->
  <section class="mb-2">
    <!-- Facebook -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-facebook-f"></i
    ></a>

    <!-- Twitter -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-twitter"></i
    ></a>

    <!-- Google -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-google"></i
    ></a>

    <!-- Instagram -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-instagram"></i
    ></a>

    <!-- Linkedin -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-linkedin-in"></i
    ></a>

    <!-- Github -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-github"></i
    ></a>
  </section>
  <!-- Section: Social media -->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
  © 2022 Copyright: All Rights Reserved!
  <a class="text-white" href="https://mdbootstrap.com/"></a>
</div>
<!-- Copyright -->
</footer>

<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
crossorigin="anonymous"
></script>


    
<script>
  const form = document.querySelector('form');
  const isFormError = document.querySelector('.formError');
  form.addEventListener('submit', async (e) => {
  e.preventDefault();
// reset errors
isFormError.textContent = '';

// get the values
const email = form.email.value
const password = form.password.value


try {
  const res = await fetch('/login', {
    method: 'POST',
    body: JSON.stringify({email, password}),
    headers: {'Content-Type': 'application/json'}
  });
  const data = await res.json();
  console.log(data);
  if(data){
    isFormError.textContent = data
  } 

  if(data.user){
    isFormError.textContent = '';
    location.assign('/admin')
  }
  
}
catch(err){
  console.log(err);
}
        })
      </script>

  </body>
</html>
