* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 150vh;
}

body {
    font-family: 'Roboto Mono', monospace;
    position: relative;
    height: 100%;
}



body::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url("/img/Oreti.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.7;
}

footer {
    margin-top: auto;
}

.index-img {
    width: 50%;
}

.section-container {
    width: 700px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

#view-books-container::after,
#view-about-container::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index:-1;
}